<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd" >
<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>UploadFile</servlet-name>
  	<display-name>UploadFile</display-name>
  	<description></description>
  	<servlet-class>com.stud.UploadFile</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DownloadFile</servlet-name>
  	<display-name>DownloadFile</display-name>
  	<description></description>
  	<servlet-class>com.stud.DownloadFile</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>fileDownloadSer</servlet-name>
  	<display-name>fileDownloadSer</display-name>
  	<description></description>
  	<servlet-class>com.stud.fileDownloadSer</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>filedownloadser</servlet-name>
  	<display-name>filedownloadser</display-name>
  	<description></description>
  	<servlet-class>com.stud.filedownloadser</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>DownloadFile</servlet-name>
  	<url-pattern>/DownloadFile</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>fileDownloadSer</servlet-name>
  	<url-pattern>/fileDownloadSer</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>filedownloadser</servlet-name>
  	<url-pattern>/filedownloadser</url-pattern>
  </servlet-mapping>
</web-app>
